.form-add {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-count {
    width: 35%;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-process {
    width: 100%;
    padding: 12px 7px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.process-container {
    display: flex; 
    justify-content: flex-end;
    text-align:justify;
}

.btn-add {
    width: 100%;
    background-color: #428bca;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-add:hover {
    background-color: #5bc0de;
}

.btn-edit {
    background-color: #f0ad4e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-edit:hover {
    background-color: #f1b55f;
}

.btn-editPrice {
    background-color: #f07c4e;
    color: white;
    padding: 14px 20px;
    margin: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-editPrice:hover {
    background-color: #f1975f;
}

.btn-remove {
    background-color: #f44336;;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-remove:hover {
    background-color: #f5554a;
}

.box {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.action-control {
    border-width: 200px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}


#tableTwo {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

#tableTwo td, #tableTwo th {
    border: 1px solid #f2f2f2;
    padding: 8px;
}

#tableTwo th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #ddd;
    color: rgb(0, 0, 0);
}

.column-right {
    float: left;
    width: 48.8%;
    padding-left: 17px;
    
  }

  .column-left {
    float: left;
    width: 48.8%;
    padding-left: 0px;
    
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
    text-align: center;
  }